legend{
    /*font-family: 'Brush Script MT';*/
    font-family: Quicksand;
}

body{
    font-family: Quicksand;
    background-color: #f9f8f4;
}


html, body{
    height: 100%;
}



.home{
    display: block;
    background-color: #ed4850;
    margin: auto;
}

.logoHome{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    margin-top: 15%;
}

.moodiTitle{
    margin-left: 33%;
    color: #ffffff;
}

.home2 img{
    max-width: 100%;
    width: auto;
    max-height: 75%;
    height: auto;
    margin-left: 35%;
    margin-top: 2%;
}

.circle img{
    max-width: 100%;
    width: auto;
    max-height: 75%;
    height: auto;
    margin-left: 12%;
    margin-top: 10%;
}

.hist img{
    max-width: 100%;
    width: auto;
    max-height: 75%;
    height: auto;
    margin-left: 46%;
    margin-top: 2%;
}

.logo{
    width: 10%;
    height: 10%;
    margin-left: 10px;
}

.navbar{

    margin-top: 2%;

    /*flex-direction: row;
    justify-content: space-between;*/
}

.twitter{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #6eea8b;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-right: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.twitter img{
    margin-top: 15px;
    border-radius: 100%;
    border: 2px #ffd074 solid;
    margin-right: 20px;
}

header{
    position: fixed;
    background-color: #ed4850;
    width: 100%;
    font-size:2em;
    overflow: hidden;
    display: block;
    z-index: 101;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width: 100%;
}

.footer{
    background-color: #ed4850;
    width:50%;
}

.footer2{
    background-color: #ed4850;
    width:50%;
}


.menu{
    display: inline-block;
    cursor: pointer;
    margin-left: 70%;
    margin-top: 5px;
}

.bar1, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.bar2{
    width: 25px;
    height: 5px;

    background-color: #333;
    margin: 6px 10px 0;
    transition: 0.4s;
    border-radius: 5px;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #ffd074;
    border: 5px solid white;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    bottom: 0;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.myDIV{
    text-align: center;

}

.filter{
   position: fixed;
    z-index: 100;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.filter img{
    height: 40px;
}

.F1, .F2, .F3, .F4, .F5{
    border: none;
    color: snow;
    padding: 15px 15px 15px 15px;
}

.F2, .F3, .F4{
    margin-left: 2px;
    margin-right: 2px;
}

.F2, .F3, .F4, .F5 {
    background-color: #f9ddaa;
}

.F1{
    background-color: #DB0000;
    border-radius: 50px 0px 0px 50px;
}

.F5{
    border-radius: 0px 50px 50px 0px;
}

.active{
    background-color: #f27777;
}

.active2{
    background-color: #ffd074;
}

.active3{
    background-color: #f9ddaa;
}

.username{
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}

.userimg{
    margin-top: 5px;
    border: 2px #ffd074 solid;
}

.usernames{
    margin-bottom: 10%;
}

.actual{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd074;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-right: 80px;
    padding-left: 20px;
}

.profile2{
    margin-top: 20%;
    position: absolute;

}

.edit{
    margin-top: 20%;
    margin-left: 10%;

}

.hidden{
    display: none;
}

.info{
    margin-left: 62%;
}

.passEdit{
    margin-bottom: 10%;
}

.posts{
  display: block;
    position: absolute;
    margin-left: 25%;
    margin-top: 50%;

}

.imageContainer{

    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-left: 45%;
    border: 5px solid #ed4850;
    overflow: hidden;
}

#slider{

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.jcs{
    border-width: medium;
}

.moodReady{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jcs-value{
    position: absolute;

}

.moods{
    display: block;
    border-radius: 20%;
}

.save{
    margin-bottom: 100px;
}

/*.arrow-up {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 10px solid #DB0000;
    margin-left: 50px;
}*/

/*HIERONDER BEGINT CSS LENNY*/

#lijnlogo{
    width: 40px;
    margin-top:20px;
    position: absolute;
}

#titelregistreren{
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 30px;
    color: #ed4850;
    margin-top:20px;
    border-bottom: none;
}

#placeholder{
    height: 150px;
    margin: auto
;
}

