legend{
    /*font-family: 'Brush Script MT';*/
    font-family: Quicksand;
}

body{
    font-family: Quicksand;
    background-color: #f9f8f4;
    color: #777777;
}

html, body{
    height: 100%;
}

.home{
    display: block;
    background-color: #ed4850;
    margin: auto;
}

.logoHome{
    width: 60%;
    height: 60%;
    margin: 40% 20% 0% 20%;
}

.moodiTitle{
    text-align: center;
    color: #ffffff;
    font-family: Quicksand;
}

.home2 img{
    max-width: 100%;
    width: auto;
    max-height: 75%;
    height: auto;
    margin-left: 35%;
    margin-top: 2%;
}

.circle img{
    display: block;
    margin: auto;
    margin-top: 17px;
}

.hist img{
    max-width: 100%;
    width: auto;
    max-height: 75%;
    height: auto;
    margin-left: 46%;
    margin-top: 2%;
}

.logo{
    width: 50px;
    margin-top:5px;
    margin-left:25px;
    position: absolute;
}

.navbar{
    width: 100%;
    margin-top: 2%;
    height: 30px;
    /*flex-direction: row;
    justify-content: space-between;*/
}

.twitter{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd074;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-right: 80px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.twitter img{
    margin-top: 15px;
    border-radius: 100%;
    border: 2px #ffd074 solid;
    margin-right: 20px;
}

header{
    position: fixed;
    background-color: #ed4850;
    width: 100%;
    font-size:2em;
    overflow: hidden;
    display: block;
    z-index: 101;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width: 100%;
}

.footer{
    background-color: #ed4850;
    width:50%;
}

.footer2{
    background-color: #ed4850;
    width:50%;
}

.menu{
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    margin-left: 80%;
    margin-top:10px;
}

.bar1, .bar3{
    width: 45px;
    height: 3px;
    background-color: #ffffff;
    margin: 8px 0;
    transition: 0.4s;
    border-radius: 10px;
}

.bar2{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 8px 20px 0;
    transition: 0.4s;
    border-radius: 10px;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.circle{
    border-radius: 50%;
    width: 20%;
    height: 75px;
    margin: auto;
    background-color: #ffd074;
    border: 3px solid white;
    bottom: 0;
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.myDIV{
    background-color: #f9f8f4 ;
    height: 90vh;
}

#titelinstellingen{
    font-family: 'Variane Script';
    font-size: 30px;
    color: #ffd074;
    letter-spacing: 1px;
    padding: 30px 0px 15px 0px;
    margin: 0px 50px;
    border-bottom: 2px solid #ed4850;
}

.profile, .logout, .passEdit{
    font-size: 18px;
    margin: 0px 50px;
    color: #777777;
    padding-top: 10px;
    line-height: 50px;
}

.logout{
    border-top: 2px solid #ed4850;
    width: 275px;
    font-weight: bold;
    padding-right: 190px;
}


.filter{
   position: fixed;
    z-index: 100;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.filter img{
    height: 40px;
}

.F1, .F2, .F3, .F4, .F5{
    border: 3px solid #f9F8F4;
    color: #f9F8F4;
    height: 60px;
    width: 70px;
    padding: 5px;
}

.F2{
    background-color: #ffd074;
    font-size: 15px;
}



.F3, .F4, .F5 {
    background-color: #f9ddaa;
}

.F1{
    background-color: #DB0000;
    border-radius: 50px 0px 0px 50px;
    font-size: 15px;
}

.F5{
    border-radius: 0px 50px 50px 0px;
}

.active{
    background-color: #f27777;
}

.active2{
    background-color: #ffd074;
}

.active3{
    background-color: #f9ddaa;
}

.username{
    margin-left: 5px;
    font-weight: bold;
    font-size: 17px;
    display: inline;
}

.userimg{
    margin-top: 5px;
    border: 2px #ffd074 solid;
}

.usernames{
    margin-bottom: 5%;
}

.actual{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: #ffd074;
    margin-bottom: 10px;
    border-radius: 30px;
    padding-right: 80px;
    padding-left: 20px;
}

.profile2{
    margin-top: 20%;
    position: absolute;

}

.hidden{
    display: none;
}

#input_container {
    position:relative; padding:0; margin:0;
}

#username {
    height:30px; margin:0; padding-left: 30px;
}

#userName{
    height:30px; margin:0; padding-left: 30px; margin-bottom:5px;
}

#email{
    height:30px; margin:0; padding-left: 30px;
}

#password{
    height:30px; margin:0; padding-left: 30px; margin-bottom:5px;
}

#input_img {
    position:absolute; bottom:8px; left:10px; width:15px; height:15px;
}

.passEdit{
    border: none;
    background-color: #f9F8F4;
}

.posts{
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 50%;
}

.imageContainer2{
    border: 5px solid #ed4850;
}

.imageContainer3{
    border-radius: 50%;
    margin-left: 45%;
    overflow: hidden;
}

.imageContainer{
    border-radius: 50%;
    border: none;
    overflow: hidden;
}

#slider{

    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.jcs{
    border-width: medium;
}

.moodReady{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jcs-value{
    position: absolute;

}

.moods{
    display: block;
    border-radius: 20%;
}

.save{
    margin-bottom: 100px;
}

/*HIERONDER BEGINT CSS LENNY*/

#lijnlogo{
    width: 50px;
    margin-top:15px;
    margin-left:5px;
    position: absolute;
}

#titelregistreren{
    /*text-align: center;
    font-size: 20px;
    color: #ed4850;
    margin-top:25px;
    border-bottom: none;
    font-family: "Quicksand";
    font-size: 20px;*/
    display: none;
}

#titellogin{
    display: none;
}

#placeholder{
    height: 13em;
    width: 13em;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#placeholderProfile{
    height: 11em;
    width: 11em;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-control{
    width: 70%;
    background-color: #f9f8f4;
    border: none;
    box-shadow: none;
    font-size: 15px;
}

#bestand{
    font-size: 20px;
    color: #ed4850;
    margin: auto;
    margin-top:-60px;
    margin-bottom:20px;
    display: block;
    border: none;
    background-color: #f9f8f4;
}

#bestandProfile{
    font-size: 20px;
    color: #ed4850;
    margin: auto;
    margin-top:-10px;
    display: block;
    border: none;
    background-color: #f9f8f4;
}

#input_container{
    margin: auto;
    display: block;
    width: 15em;
    border-bottom: solid 1px;
}

#email, #password{
    margin-top: 14px;
}

#input_img{
    width: 15px;
}

#password.form-control{
    width: 210px;
}

#username.form-control{
    width: 210px;
    margin-top: 6%;
}

#email.form-control{
    width: 210px;
}

#registerbutton{
    border-radius: 120px;
    width: 210px;
    height: 50px;
    background-color: #ed4850;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Variane Script';
    letter-spacing: 1px;
    margin: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
}

#linkinloggen{
    text-align: center;
    color: #ed4850;
}

a{
    color: #ed4850;
}

#password{
    background-color: #f9f8f4;
    padding-top:15px;
}

label{
    display: block;
    margin: auto;
}

.userinfo{
    margin-top:10%;
}

#profielbewerken{
    font-family: 'Variane Script';
    font-size: 30px;
    color: #ffd074;
    letter-spacing: 1px;
    padding: 30px 0px 15px 0px;
    margin: 0px 50px;
    border-bottom: 2px solid #ed4850;
    width: 275px;
}

#buttonbewerken{
    border-radius: 120px;
    width: 210px;
    height: 50px;
    border: none;
    background-color: #ed4850;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Variane Script';
    letter-spacing: 1px;
    margin: auto;
    display: block;
    margin-top: 25px;
}

#homeIcon{
    width: 15%;
    margin-top: 5%;
}

#bekerIcon{
    width: 20%;
    margin-top: 7%;
}

#plusIcon{
    width: 50%;
    height: 50%;
}

.alert{
    color: #ed4850;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.profile:active, .passEdit:active{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.logout:active{
    text-decoration: none;
    font-weight: bold;
    color: #ed4850;
}